@charset "UTF-8";
.ul_1{
  list-style: none;
  margin-bottom: 0px;
}
.li_1{
  display: inline-block;;
}
.welcome{
	text-align: center;
}
.bg_c_n{
	background-color: #24292f;
}
.font_white{
	color: white !important;
}